td,
th {
  user-select: none;
}

.centered td {
  vertical-align: middle;
}

.centered thead th {
  vertical-align: middle;
}

.container {
  width: fit-content;
  max-width: 500px;
}

#picture {
  max-width: 600px;
  left: 50%;
  
}

.fa-water{color: #264A73;
}
.fa-water:hover{
    color: #409FBF;
    cursor: pointer;
}


  /* The side navigation menu */
  .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;    
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    
    /* background-color: #111; */
    background-size: cover;
    
    /* background-image:linear-gradient(0deg, rgba(12, 12, 12, 0.527), rgba(0, 0, 0, 0.941)), url(../src/1.jpg); */
    background-image:linear-gradient(0deg, rgba(24, 54, 78, 0.678), rgba(7, 48, 82, 0.521)), url(../src/4.jpg);
  
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
  }
hr{
    background-color: rgba(0, 0, 0, 0.281);
    width: 90%;
}
  /* The navigation menu links */
  .sidenav a {
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color:azure;
    transition: 0.3s;
    font-weight: 600;
    text-align: center;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    background-color: #409FBF;
    
  }

  ul {
    list-style: none;
  }

  #closeicon {
    float: right;
    cursor: pointer;
    transition: color 600ms ease;
    color: rgba(171, 197, 204, 1);
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #closeicon:hover {
    color: azure;
  }
